body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: beige;
}

.navbar {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

.navbar a {
    display: inline;
  
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #575757;
    border-radius: 3px;